@font-face {
	font-family: "Roboto";
	src: url("./Roboto/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Roboto", sans-serif;
}

@font-face {
	font-family: "GreatVibes";
	src: url("./Great_Vibes/GreatVibes-Regular.ttf");
}
