@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@font-face {
	font-family: "Roboto";
	src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@font-face {
	font-family: "GreatVibes";
	src: url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
}
